/* for newpost.html, viewpost.html and main.html */
body {line-height: 200%; background-color: #8cf; overflow-x: hidden;}
div {height: 100%; margin: 0 auto;} /* margin: 0 auto is for centering */
p {display: inline-block; margin: 0.2em;}
a,input,select {line-height: 100%; margin-left: 0.5em;}

button {border: 1px solid blue; border-radius: 0.5em; background-color: #def; transition: background 0.2s;}
button:hover {background-color: #8cf;}
button:active {background-color: #88f;}

.avatar {position: absolute; top: 0.5em; right: 0.5em; height: 2.5rem; width: 2.5rem; cursor: pointer; z-index: 1000;}
.sidebar { background-color: #fff; position: absolute; top: 0px; right: 0px; min-height: 100vh; white-space: nowrap; z-index: 999; transition: width 1s; width: 0px;}
.sidebar-visible { width: 200px;}

/* for main.html */
#posts {background-color: #cef; padding: 0.2em 0;}
#posts>div {background-color: #adf; line-height: 100%; margin: 0.3em 0.5em; cursor: pointer;}

/* for newpost.html */
#newcontent {line-height: 100%; height: 70vh; width: calc(100vw - 2em);background-color: #cef; resize: none;}

.vote_button {
	background-repeat: no-repeat;
	background-position: center;
	height: 20px;
	width: 20px;
	border: transparent;
	background-color: transparent;
}

.upvote_button {
	background-image: url(../img/up_inactive.png);
}
.downvote_button {
	background-image: url(../img/down_inactive.png);
}

#contentbox {
	border: 0.25em solid #adf;
	border-radius: 0.5em;
	margin: 0 auto;
	width: 700px;
	padding: 0.5em;
	overflow: auto;
}
#content {
	margin-left: 50px;
	overflow: auto;
}
#vote {
	float: left;
	display: flex;
	flex-direction: column;
	width: 40px;
	height: 100%;
	align-items: center;
}
#owner {
	font-size: 10px;
	font-style: italic;
	line-height: 20px;
}
#title {
	font-size: 30px;
	font-weight: bold;
}
#vote_count {
	padding: 0px;
	line-height: 20px;
	text-align: center;
}
#comment_editor {
	margin: 0 auto;
	width: 700px;
	padding: 0;
	overflow: auto;
}
#comment_editor_textarea {
	width: 700px;
	margin: 0;
	padding: 0.5em;
	line-height: 1.5em;
	background-color: rgb(196, 229, 252);
	resize: none;
	border: 1px solid rgb(94, 119, 136);
	border-radius: 5px;
}
#comments {
	width: 700px;
}