/* for newpost.html, viewpost.html and main.html */
body {line-height: 200%; background-color: #8cf; overflow-x: hidden;}
div {height: 100%; margin: 0 auto;} /* margin: 0 auto is for centering */
p {display: inline-block; margin: 0.2em;}
a,input,select {line-height: 100%; margin-left: 0.5em;}

button {border: 1px solid blue; border-radius: 0.5em; background-color: #def; transition: background 0.2s;}
button:hover {background-color: #8cf;}
button:active {background-color: #88f;}

.logoutbutton{
    height: 20px;
    position: absolute;
    width: 100%;
    bottom: 15px;
    border: 1.5px solid red;
    border-radius: 1em;
    padding-bottom: 2em
    }
                
.tomainbutton{
    height: 20px;
    position: absolute;
    width: 100%;
    bottom: 105px;
    border: 1.5px solid yellowgreen;
    border-radius: 1em;
    padding-bottom: 2em
}
                
 .profilebutton{
    height: 20px;
    position: absolute;
    width: 100%;
    bottom: 60px;
    border: 1.5px solid orange;
    border-radius: 1em;
    padding-bottom: 2em
 }
		
.useravatar {position: absolute; top: 0.5em; right: 0.5em; height: 3.5rem; width: 3.5rem; transition: all 1s ease; cursor: pointer; z-index: 1000;}
.useravatar-visible {right: 210px;}
.sidebar { background-color: #eee; overflow: hidden; position: absolute; top: 0px; right: 0px; min-height: 100vh; white-space: nowrap; z-index: 999; transition: width 1s; width: 0px;}
.sidebar-visible { width: 200px;}
.sidebar p{
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-size: 17px;
    color: #88f;
    display: block;
    transition: 0.2s;
}
.sidebar p:hover{
    color: #adf;
}
                
.sidebar .sidebar-email{
    padding-top: 0;
    font-size: 13px;
    text-align: center;
    color: #000;
    transition: 0.2s;
 }
                
.sidebar-avatar{
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 12rem;
    width: 12rem;
    transition: 0.2s;
}
                
.sidebar h3{
    text-align: center;
    font-weight: bold;
}

/* for main.html */
#posts {background-color: #cef; padding: 0.2em 0;}
#posts>div {background-color: #adf; line-height: 100%; margin: 0.3em 0.5em; cursor: pointer;}
#pages>p {display: inline; cursor: pointer;}

/* for newpost.html */
#newcontent {line-height: 100%; height: 70vh; width: calc(100vw - 2em);background-color: #cef; resize: none;}

/* for viewpost.html */
.vote_button {
	background-repeat: no-repeat;
	background-position: center;
	height: 20px;
	width: 20px;
	border: transparent;
	background-color: transparent;
}

.upvote_button {
	background-image: url(../img/up_inactive.png);
}
.downvote_button {
	background-image: url(../img/down_inactive.png);
}

#contentbox {
	border: 0.25em solid #adf;
	border-radius: 0.5em;
	margin: 0 auto;
    margin-bottom: 1em;
	width: 700px;
	padding: 0.5em;
	overflow: auto;
}
#content {
	margin-left: 3em;
    margin-right: 2.5em;
	overflow: auto;
    word-break: break-word;
}
#vote {
	float: left;
	display: flex;
	flex-direction: column;
	width: 40px;
	height: 100%;
	align-items: center;
}
#owner {
	font-size: 10px;
	font-style: italic;
	line-height: 20px;
}
#title {
	font-size: 30px;
	font-weight: bold;
    word-break: break-word;
}
#vote_count {
	padding: 0px;
	line-height: 20px;
	text-align: center;
}
#comment_editor {
	margin: 0 auto;
	width: 700px;
	padding: 0;
	overflow: auto;
}
#comment_editor_textarea {
	width: 700px;
	margin: 0;
	padding: 0.5em;
	line-height: 1.5em;
	background-color: rgb(196, 229, 252);
	resize: none;
	border: transparent;
	border-radius: 5px;
}
#comments {
	width: 700px;
}

.profilename {
    text-align: center;
    font-weight: bold;
}

.propic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 20rem;
  width: 20rem;
}

.updatediv {
  text-align: center;  
}

.updatebutton{
    height: 20px;
    position: relative;
    width: 40%;
    border: 2px solid pink;
    border-radius: 1em;
    padding-bottom: 2em;
    margin-bottom: 30px;
}

.updatesubmitbutton{
    height: 20px;
    position: relative;
    width: 25%;
    border: 2px solid brown;
    border-radius: 1em;
    padding-bottom: 2em;
    margin-bottom: 30px;
}

.updatesubmitdiv{
    text-align: center; 
}

div .reminder{
    color: red;
    font-size: 12px;
    line-height: 70%;
    margin-top: 0;
    padding-bottom: 1.5em;
}


